.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-card {
    width: 452px;
    height: 100%;
    border-radius: 20px 40px 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
  }
  
  .login-image-section {
    height: 33%;
    width: 100%;
  }
  
  .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    flex-grow: 1;
  }
  
  .login-title {
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: #333;
    align-self: flex-start;
  }
  
  .login-subtitle {
    font-size: 24px;
    margin-top: 0px;
    padding-left: 30px;
    color: #332f2f;
    align-self: flex-start;
  }
  
  .login-text {
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
  }
  
  .login-google {
    text-align: center;
    margin-top: auto;
    padding: 0px 0;
    position: relative;
    bottom: 5px;
    top: 25px;
    border-radius: 5px;
  }
  
  .google-login-button {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 2px rgb(55, 53, 53) solid;
    border-radius: 8px 12px 8px 12px;
    cursor: pointer;
    height: 45px;
  }
  
  .google-login-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 -4px 8px rgba(0, 0, 0, 0.15),
      4px 0 8px rgba(0, 0, 0, 0.15), -4px 0 8px rgba(0, 0, 0, 0.15);
    border-color: rgb(55, 53, 53);
  }
  .google-login-button:active {
    background-color: rgb(242, 253, 221);
  }
  
  .google-icon {
    margin-right: 10px;
  }
  
  .google-text {
    font-size: 16px;
    margin: 0px 0;
    font-weight: bold;
  }
  
  .divider {
    width: 85%;
    height: 1px;
    background-color: #a2a3a4;
    margin: 50px auto;
  }
  
  .login-footer {
    text-align: center;
    margin-top: auto;
    padding: 0px 0;
    position: relative;
    bottom: 50px;
  }
  
  .access-problems {
    color: #666;
    font-size: 14px;
    margin: 0px 0;
  }
  
  .access-problems2 {
    color: #677d29;
    font-size: 14px;
    margin: 0px 0;
    font-weight: bold;
  }
  
  .login-content p {
    margin: 4px 0;
  }